@using NotUndeserved.Twitch.Widgets.ProgressBar.UI.State
@inject ProgressState ProgressState

<button @onclick="ProgressState.IncreaseProgress">Increase Progress</button>
<button @onclick="ProgressState.ResetProgress">Reset Progress</button>